<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fluffenfox</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A site about fluffin' foxes.">
        <meta content="A site about fluffin' foxes." property="og:description" />
        <meta content="Fluffenfox" property="og:title" />
        <meta content="https://fluffenfox/" property="og:url" />
        <meta content="https://fluffenfox/logo.webp" property="og:image" />
        <meta content="#FFFDD0" data-react-helmet="true" name="theme-color" />
        <link rel="icon" href="/favicon.ico"/>
    </head>
    <noscript>
        <strong>Unfortunately, this website doesn't work without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <body>
        <div id="app"></div>
    </body>
</html>
